<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" currencyMask
                [(ngModel)]="product.price" name="price" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
        </mat-form-field>

        <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg">
    </form>
    <br />
    <mat-card class="image-card">
        <img mat-card-image src="{{ product.image }}">
    </mat-card>
    <button mat-raised-button (click)="updateProduct()" color="ifood">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>